body {
  background-color: black;
}

.coverImage {
  display: block;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  transition: 0.2s;
}

.albumCell {
  width: 20%;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  position: relative;
}

.albumCell:hover .coverImage {
  opacity: 0.5
}

.albumCell:hover .overlayText {
  opacity: 1;
}

.tdDetail>img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tdDetail>p {
  color: white;
  text-align: center;
  font-size: x-large;
}

.tdDetail>p>a,
form>a {
  color: aqua;
}

.tdDetail>p>a:visited,
form>a:visited {
  color: aquamarine;
}

form {
  padding-top: 5%;
  padding-left: 5%;
}

form>a {
  display: block;
  padding-top: 2.4%;
}

.div,
.overlayText {
  color: white;
  opacity: 0;
  transition: 0.2s;
  position: absolute;
  top: 0;
  left: 10;
}

#thetable {
  table-layout: fixed;
  margin-bottom: 80px;
}

#footer {
  color: rgb(133, 133, 133);
  position: fixed;
  bottom: 0px;
  margin-bottom: 1%;
  margin-left: 5%;
  text-align: top;
  background-color: rgba(100, 100, 100, 0.3);
  visibility: hidden;
}

#footer a {
  color: rgb(133, 133, 133)
}

#footer>p {
  margin: 5px;
}