body {
    background-color: black;
}

.coverImage {
    display: block;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    transition: 0.2s;
}

.albumCell {
  width: 20%;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  position: relative
}

.albumCell:hover .coverImage{
  opacity:0.5
}

.albumCell:hover .overlayText {
  opacity: 1;
}

.overlayText {
  color: white;
  opacity: 0;
  transition: 0.2s;
  position: absolute;
  top: 0;
  left: 10;
}


#thetable {
  table-layout: fixed;
}
